html, body
  height: 100%
  font-family: 'Lato'

.static
  position: absolute

#container
  position: relative

  #loading
    position: fixed
    top: 50%
    left: 50%
    margin-top: -20px
    margin-left: -20px

    #loading-gif
      width: 40px
      height 40px

//Time line
.timetext
  opacity: .5
  font-size: 4em
  .yo
    font-size: .5em
    margin-left: -10px