@import "compass"
@import "compass/css3"
@import "compass/utilities/lists"
@import "compass/css3/box-shadow"


$MAJOR_TICK_WIDTH: 50px
$TIMELINE_WIDTH: 10px
$TIMELINE_COLOR: #0b479d
$TIMELINE_X : 250px

@mixin event-background
  @include background-image(image-url("/assets/opaper.jpg"))
  @include box-shadow(rgba(black, 0.4) 5px 5px 40px, rgba(black, 0.5) 0 0 100px inset)
  @include border-radius(56px)
  padding: 10px

body
  height: 100%
  font-family: 'Lato'
  @include background-image(linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,.3) 80%),image-url("/assets/woven.png"))


.static
  position: absolute

#container
  position: relative
  

  #loading
    position: fixed
    top: 50%
    left: 50%
    margin-top: -20px
    margin-left: -20px

    #loading-gif
      width: 40px
      height 40px

//Time line

$WEAVE_HEIGHT: 150
.weave
  position: relative
  top: -100px
  .top
    width: 100%
    height: 300px
    background: url(/assets/weave.jpg)
  .under
    background: url(/assets/weave_bot.png)
    width: 100%
    height: 62px

.headers
  position : absolute
  top: 20px
  left: 15%
  +text-shadow(rgba(black, .3) 2px 2px 0, rgba(black, .3) 6px 6px 0, rgba(black, .3) 4px 4px 0)
  h1
    font-family: "Amatic SC", cursive
    font-size: 10em
    color: white
    margin-top: 40px
    margin-bottom: 50px
    .exp
      font-size: .5em
  .h2
    margin-bottom: 10px
    font-family:  "lato"
    font-size: 2.0em
    color: white
    line-height: 31px
.footers

.timeline

  opacity: .5
  .majortick
    z-index: 10
    .timetext
      width: $TIMELINE_X
      font-size: 4em
      text-align: right
      .yo
        font-size: .5em
        text-align: right
        margin-top: 15px

    .tick
      z-index: 20
      position: absolute
      top: -10px
      @include border-radius($MAJOR_TICK_WIDTH/2)
      width: $MAJOR_TICK_WIDTH
      height: $MAJOR_TICK_WIDTH
      left: $TIMELINE_X
      background: $TIMELINE_COLOR
    
    .inner-tick
      z-index: 21
      position: absolute
      top: -2px
      @include border-radius($MAJOR_TICK_WIDTH/2)
      width: $MAJOR_TICK_WIDTH - 16px
      height: $MAJOR_TICK_WIDTH - 16px
      left: $TIMELINE_X + 8px
      background: white

  .actual-line
    @include box-shadow(rgba(black, 1) 5px 5px 25px)
    z-index: 5
    position: absolute
    width: $TIMELINE_WIDTH
    background: $TIMELINE_COLOR
    left: 250px+($MAJOR_TICK_WIDTH/2) -($TIMELINE_WIDTH/2)

// EVENTs
$EVENT_WIDTH : 950px
$EVENT_LEFT: $TIMELINE_X + 56px
.event.active
  z-index: 1000
  @include box-shadow(rgba(black, 0.4) 5px 5px 60px, rgba(black, 0.5) 0 0 100px inset)

  .icon
    top: 0px
    left: -84px
    width: 99px
    height: 99px

.event.not-active
  .icon
    &:hover
      border-width: 10px
      left: -59px - 7px
      top: 24px - 7px
      cursor: pointer
.event
  @include event-background

  z-index: 900
  position: absolute
  left: $EVENT_LEFT

  .icon
    position: absolute
    display: inline-block
    @include border-radius(50px)

    z-index: 100
    background-size: 100%
    background-position: center
    
    width: 50px
    height: 50px
    top: 24px
    left: -59px

    border-width: 3px

    border-color: #85a3ce
    border-style: solid

  /* background: url('/assets/weave.jpg') */
  .small
    @include border-top-left-radius(56px)
    width: $EVENT_WIDTH
    display: inline-block

    .title
      margin: 25px
      display: inline-block
      vertical-align: top
      font-size: 2em
      .dates
        margin-top: 2px
        vertical-align: top
        font-size: 0.5em
    .bot-bit
      .hr
      .hr-end

  .large
    width: $EVENT_WIDTH
    left: 30px
    .content
      display: inline-block
      vertical-align: top
      float: right
      width: $EVENT_WIDTH - 20px
      margin-right: 10px
      img
        float: left
        margin-right: 5px
        margin-bottom: 2px
        width: 200px
        @include box-shadow(rgba(black, 1) 5px 5px 25px)
    .map
      $MAP_HEIGHT: 250px
      $MAP_WEIGHT: 500px

      position: relative
      margin: 5px
      display: block
      float: right
.footers

  position: relative
  
  left: $EVENT_LEFT
  top: 350px

  .mihimihi
    @include event-background
    width: $EVENT_WIDTH
    h1
      text-align: center
      +text-shadow(rgba(black, .3) 2px 2px 0, rgba(black, .3) 6px 6px 0, rgba(black, .3) 4px 4px 0)
      font-family: "Amatic SC", cursive
      font-size: 10em
      color: white
      margin-top: 40px
      margin-bottom: 50px
      .exp
        font-size: .5em

    .english-mihimihi
      margin: 10px
      width: 55%
      display: inline-block
      height: 100%
      .years
        display: inline
        font-weight: bold

    .maori-mihimihi
      margin: 10px
      width: 39%
      float: right
      height: 100%
      .maori
        font-family: 'Lato'
        font-weight: bold
      .tranlate
        font-style: italic

    .overallmap
      position: relative
      .play
        @include background-image(image-url("/assets/play_btn.png"))
        font-size: 3em
        position: absolute
        z-index: 99
        top: 150px
        left: 400px
        height: 128px
        width: 128px

      .play.playing
        z-index: -1

      .countdown.playing
        z-index: 99

      .countdown
        z-index: -1
        font-size: 2em
        position: absolute
        top: 375px
        left: 10px
        height: 128px
        width: 25%
        text-align: right
        font-family: 'lato'

      .title.playing
        z-index: 99

      .title
        z-index: -1
        font-size: 2em
        position: absolute
        top: 375px
        left: 30%
        height: 128px
        width: 65%
        text-align: left
        font-family: 'lato'

  
  .end-matter
    width: $EVENT_WIDTH
    .references
    .about
      .text
        display: inline-block
      .img
        display: inline-block

svg
  @include box-shadow(rgba(black, 0.4) 5px 5px 25px)
  z-index: 10
  .land
    fill: #d7c7ad
    stroke: #766951
  .boundary 
    fill: none
    stroke: #a5967e

  .background
    fill: #a4bac7
    opactiy: 0

  $ARROW_COLOR: red
  $ARROW_OPACITY: .5
  $STROKE_WIDTH: 5
  .arrow
    opacity: $ARROW_OPACITY
    fill: none
    stroke: $ARROW_COLOR
    stroke-width: $STROKE_WIDTH

  #arrow
    opacity: $ARROW_OPACITY 
    fill: $ARROW_COLOR
    stroke: $ARROW_COLOR
    stroke-width: $STROKE_WIDTH

  #dot
    opacity: $ARROW_OPACITY
    fill: $ARROW_COLOR
    stroke: $ARROW_COLOR
    stroke-width: $STROKE_WIDTH
