#backgroundpics
  %ul.backpics.hide
    - ImageDatum.all.sort_by{|x| -x.years_ago || 1000000}.to_enum.with_index(1).each do |id,i|
      - if id.years_ago
        %li.well.backimg{ 'data-yo' => id.years_ago}
          -if not id.link.blank?
            %a{:href => id.link , :target => '_blank'}
              %img.img-rounded{:src => id.image.medium }
              = id.title
          -else
            %img.img-rounded{:src => id.image.medium }
              = id.title
#container
  #loading
    = image_tag("loading.gif", {:id =>"loading-gif"})
    %br
    Loading